html, body{
  font-family: arial;
}

/* .packet_canvas{
  width: 100vw;
  height: 100vh;
} */

.grid-container {
  display: grid;
  grid: auto / calc(100vw / 20) calc(100vw / 20) calc(100vw / 20) calc(100vw / 20) calc(100vw / 20) calc(100vw / 20) calc(100vw / 20) calc(100vw / 20) calc(100vw / 20) calc(100vw / 20) calc(100vw / 20) calc(100vw / 20) calc(100vw / 20) calc(100vw / 20) calc(100vw / 20) calc(100vw / 20) calc(100vw / 20) calc(100vw / 20) calc(100vw / 20) calc(100vw / 20);
  /* grid-gap: 10px; */
  /* background-color: #2196F3; */
  /* padding: 10px; */
}
